body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.filtros {
    margin-bottom: 2rem;
}

.filtros h2 {
    font-size: 1.5rem;
}

.filtros form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filtros label {
    flex: 1 1 100px;
}

.filtros select,
.filtros input {
    flex: 1 1 200px;
}

.filtros button {
    flex: 1 1 200px;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.lista-productos {
    text-align: center;
}

.lista-productos h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.producto {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
}

.producto img {
    width: 100%;
    height: auto;
}

.producto h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.producto p {
    margin: 0.25rem 0;
    font-size: 1rem;
    color: black;
}

.producto a {
    text-decoration: none;
    color: inherit;
}

.producto:hover {
    transform: scale(1.05);
}

.detalles-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.detalles-producto img {
    flex: 1 1 300px;
    max-width: 500px;
    height: auto;
}

.info-producto {
    flex: 2 1 300px;
    text-align: left;
}

.info-producto h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-producto p {
    margin-bottom: 1rem;
}

.info-producto form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.info-producto select {
    flex: 1 1 100px;
}

.info-producto button {
    flex: 1 1 200px;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.precio-original {
    text-decoration: line-through;
    color: red;
    font-size: 1rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
.img{
    width: 150px;
    height: 150px;
    text-align: center;
}

