 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h2{
            text-align: center;
        }

        header {
            background-color: black;
            color: white;
            padding: 1rem 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;
        }
        .logo {
            font-size: 1.5rem;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
        
        nav ul li {
            display: inline;
        }
        
        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            transition: background 0.3s;
        }
        
        nav ul li a:hover {
            background-color: #444;
            border-radius: 5px;
        }

        main {
            max-width: 1200px;
            margin: 2rem auto;
            padding: 0 1rem;
        }

        .lista-productos {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .producto {
            width: 250px;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            transition: transform 0.3s;
        }

        .producto img {
            width: 100%;
            height: auto;
        }

        .producto h3 {
            margin: 0.5rem 0;
            font-size: 1.25rem;
        }

        .producto p {
            margin: 0.25rem 0;
            font-size: 1rem;
            color: black;
        }

        .producto a {
            text-decoration: none;
            color: inherit;
        }

        .producto:hover {
            transform: scale(1.05);
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 1rem 0;
            margin-top: 2rem;
        }.img{
            width: 150px;
            height: 150px;
            text-align: center;
        }